# Visual Studio
.vs/
*.vcxproj.user
*.opendb
*.VC.db

# Build cache
ipch/
*.log

# Temporary files
*.tmp
*.tlog

# Ignore CMake cache if kiedyś użyjesz
CMakeCache.txt
CMakeFiles/

# DO NOT IGNORE x64 (potrzebne dla SFML)
!x64/
